body {
  font-family: Arial, sans-serif;
  
  background: linear-gradient(to right,#ef5d6b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #f1a8a2;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}